{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <!--   객체 데이터를 사용하는 범위    -->
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    <!--   객체 데이터를 사용하는 범위    -->
    </tbody>
</table>
<a href="members/new">다시 수정</a>
{{>layouot/footer}}