{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
    </tr>
    </thead>
    <tbody>
    <!-- 객체 데이터를 사용하는 범위  -->
    {{#article}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    <!-- 객체 데이터를 사용하는 범위  -->
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit" class="btn btn-secondary">수정하기</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">삭제하기</a>
<a href="/articles" class="btn btn-secondary">글 목록</a>

{{>layout/footer}}